.THIS divstyle {
    height:calc(100vh - 100px);
 }
 .THIS.ui-chkbox.ui-chkbox-all.ui-widget {
    display:none !important;
 }
 .THIS .serviceResponse {
    color: red;
    text-align: left;
 }
 .THIS .upper-case > div > input {
   text-transform: uppercase;
 }
 .THIS .save-btn {
    margin-top: 24px;
 }
.THIS .full-width {
   width: 100% !important;
}