.THIS .slds-spinner_container {  
    z-index: 99;
    position: fixed;   
}

.THIS .slds-accordion__summary-heading{
        font-weight: bold;
}

.THIS .slds-form-element__label{
     font-weight: bold;
}