.THIS {
}

.THIS .slds-gutters_medium .slds-col {
    padding-bottom: 10px;
}
.THIS .slds-form-element__legend {
    font-weight: 400;
}
.THIS .slds-table thead th {
    font-size: 12px;
    color: #514F4D;
    font-weight: 500;
}
.THIS .slds-accordion__list-item {border:none;}
.THIS .slds-icon-custom-custom24, 
.THIS .slds-icon-custom-24 {
    background-color: rgba(100, 0, 50, 1);
}

.THIS .slds-nav-vertical__title {
    display:none;
    padding:0px;
}
.THIS .slds-nav-vertical {
    position: relative;
    padding-right: 15px;
}
.THIS .slds-table_header-fixed_container, 
.THIS .slds-table--header-fixed_container {
    border: 1px solid rgb(221 219 218);
    overflow-x: hidden;
}
.THIS .slds-has-button-menu .slds-th__action-button {
    display: none;
}

.THIS .p-title {
    padding: 20px 0 5px 20px;
}
.THIS .p-tr-20 {
    padding-top: 20px !important;
    padding-right: 20px !important;
}
        
.THIS .slds-hidden {height:0 !important;}
.THIS .p-10{padding:10px !important;}
.THIS .p-15{padding:15px !important;}
.THIS .p-20{padding:20px !important;}
.THIS .p-25{padding:25px !important;}
.THIS .p-t-10{padding-top:10px !important;}
.THIS .p-t-15{padding-top:15px !important;}
.THIS .p-t-20{padding-top:20px !important;}
.THIS .p-b-10{padding-bottom:10px !important;}
.THIS .p-b-15{padding-bottom:15px !important;}
.THIS .p-b-20{padding-bottom:20px !important;}
.THIS .p-lr-10{padding-left:10px !important;padding-right:10px !important;}
.THIS .p-lr-15{padding-left:15px !important;padding-right:15px !important;}
.THIS .p-lr-20{padding-left:20px !important;padding-right:20px !important;}
.THIS .p-tb-10{padding-top:10px !important;padding-bottom:10px !important;}
.THIS .p-tb-15{padding-top:15px !important;padding-bottom:15px !important;}
.THIS .p-tb-20{padding-top:20px !important;padding-bottom:20px !important;}
.THIS .align-inner-right {text-align:right !important;}
.THIS .align-center {text-align:center !important;}