/**
 * Created by BRITENET on 08.10.2021.
 */

.THIS .error-text {
    display:none;
}

.THIS .show {
    display:flex;
    color:red;
}
.THIS .hide {
    display:none;

}
.THIS .myCheckbox{
  display: inline-block;
  float: left;
}