.THIS .radioHorizontal .slds-form-element__control .slds-radio {
    display : inline-block !important;
    margin-right: 1.5rem !important;
}

.THIS .radio-group_label-asterics .slds-form-element__legend {
    display : none!important;
}

.THIS .radio-group_label-asterics span.slds-form-element__label:after {
    content: "*";
    color: red;
}