.THIS {
}

.THIS .tableStyle {
    min-width: 950px;
}

.THIS .headerTableRow {
    background-color: rgb(240,235,235);
}

.THIS .nameColumn {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: left;
}

.THIS .valueColumn {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: right;
}

.THIS .totalName {
    text-align: right;
    font-style: normal;
    font-size: 15px;
    font-weight: 600;
}

.THIS .totalValue {
    text-align: right;
    font-style: normal;
    font-size: 15px;
    font-weight: 600;
}