.THIS {
}
.THIS .slds-form-element.slds-lookup.slds-is-close.cSiteLookup {
    display: none;
}
.THIS .creatOpp {
    text-align:center;
    margin:15px 0;
}
.THIS .creatOpp h2 {
    font-size:20px;
}