.THIS {
}
.THIS .decision-btn {
    display:flex
}
.THIS .decision-btn li {
    padding-left:5px;
    padding-right:5px;
    text-align:center;
}
.THIS .decision-btn button.slds-button {
	padding:13px 13px;
}