.THIS .filterStyle{
    background-color: #640032;
    background-image: url(/resource/CreditCard) !important; 
    background-size: 350px 190px;
    background-repeat: no-repeat;
    width: 85.60mm;
    height: 53.98mm;
    border-radius:10px;
}

.THIS .slds-radio {
	display: inline !important;
}