/* for fixed width in rows */
.THIS .tdWidth{
    width:40%;
}
.THIS .td2Width{
    width:60%;
}

.THIS input {
    text-align: right;
    height: 18px;
}

.THIS .inputColumnR {
    text-align: right;
    height: 18px;
}

.THIS .headerTableRow {
    background-color: rgb(240,235,235);
}

.THIS .headerColumnR {
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    text-align: right;
}

.THIS .headerColumnL {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-align: left;
}

.THIS .total {
    text-align: right;
    font-weight: 400;
}