.THIS {
}

.THIS .frameView {
  height: 800px;
}

.THIS .frameItem {
  width: -webkit-fill-available;
  height: 800px;
}

.THIS .creditLensStart {
  text-align: center;
  padding: 30px;
}

.THIS .head {
  font-family: "Enriqueta", arial, serif !important;
  line-height: 1.25 !important;
  margin: 0 0 10px !important;
  font-size: 30px !important;
  font-weight: bold !important;
}