.THIS .slds-accordion__summary-heading{
  background: #eef1f6;
  padding: 0.5%;
  border-radius: .25rem;
}
.THIS .slds-accordion__list-item{
    border-top-style: none;
}
.THIS .nopaddingtop{
    padding-top: 0px;
}
.THIS .customRequired {
    font-weight: 400;
}

.THIS .customRequired:before {
    content: "*";
    color: rgb(194, 57, 52);
    left: -0.5rem;
    position: absolute;
    top: 3px;
}
.THIS .customRequiredparent {
    font-weight: 400;
}

.THIS .customRequiredparent:before {
    content: "*";
    color: rgb(194, 57, 52);
    left: -0.5rem;
    position: absolute;
    top: 3px;
}