.THIS.outerScroller {
    /* fix innerScroller not scrollable */
    border-radius: 1px;
}
.THIS.innerScroller {
    /* make innerScroller rounded */
    border-radius: 10px;
}

.THIS.customButton{
    background-color: white;
}

.THIS.spinnerHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.THIS .customRequired{
    font-weight: 400; 
    } 

.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
    }

/*adjusting help text position*/
.THIS .customIcon div{
    vertical-align: top !important;
}

.THIS div.fileUploader span.slds-form-element__label {
    display: none !important;
}

.THIS div.fileUploader span.slds-assistive-text {
    display: none !important;
}