.THIS {
}

.THIS .tableStyle {
}

.THIS input { 
    text-align: right;
    height: 18px;
}

.THIS .headerTableRow {
    background-color: rgb(240,235,235);
}

.THIS .nameColumn {
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    text-align: left;
}

.THIS .valueColumn {
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    text-align: right;
}

.THIS .tdNameColumn {
    min-width:450px;
}

.THIS .totalName {
    text-align: right;
    font-weight: 400;
}

.THIS .totalValue {
    text-align: right;
    font-weight: 400;
}

.THIS .blankColumn {
    min-width: 200px;
    background-color:rgb(243,242,242);
}

.THIS .validateButton{
    color:white;
    background-color:rgb(100,0,50);
    float: right;
}