.THIS .dot {
  height: 3px;
  width: 3px;
  background-color: #6d6c6c;
  border-radius: 50%;
  display: inline-block;
}
.THIS .alignclass{
    float: right;
}
.THIS .paddingRight{
    padding-right: 0.5vw;
}