/* CTI */
.THIS .button-class1{
    border-color: #942b49;
    background:  #942b49;
    color: white;   
    display: inline-block;
    width: 100px;
    height: 37px;
    border-radius: 5px;
}

.THIS .bordered {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
 	cursor: pointer; 
}
.THIS .cursor{
    cursor: pointer;
} 
 
.THIS .cti_tile {
    border-left: 1px solid #CCCCCC;    
    text-align: center; 
    padding: 10px;
    width:30px; 
}
.THIS .td {
    border-left: 1px solid #CCCCCC;    
    text-align: center; 
    padding: 10px;
    width:30px; 
}
.THIS .th {
    text-align: center;
    position: relative;
    transform: translateY(30%);
}
.THIS .cti_tile_disabled{ 
    border-left: 1px solid #CCCCCC;   
    text-align: center; 
    padding: 10px;    
	background-color:#F5F5F5;
    color:rgb(204, 204, 204);
    width:30px; 
    cursor: default;
} 
.THIS .radius-right{ 
    border-top-right-radius : 5px;
    border-bottom-right-radius : 5px;

}