.THIS .c-container {
    border: 2px solid #d8dde6;
    margin: 10px 10px 10px 2px;
    height:220px;

}

.THIS .c-container2 {
    border: 2px solid #d8dde6;
    margin: 10px 10px 10px 2px;
}

.THIS .c-container1{
    border: 2px solid #d8dde6;
    margin: 10px 10px -3px 2px;
    padding-left : 20px;
    padding-right : 30px;
    
}

.THIS .table-ClientResult {
    font-weight: bold
}

.THIS .pad{
    padding-left : 20px;
    padding-right : 30px;
}

.THIS .pad1{
    padding-left : 20px;
    padding-right : 30px;
}

.THIS .c-con{
 	padding-bottom : 20%;   
}
.THIS .div-1 {
    height: 40px;
    width: 1075px;
    background-color: #640032;
}