.THIS .slds-icon-text-default {
    fill: black !important;
}
.THIS .picklist_icon {
    padding-left: 10px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 7px;
    min-width: 25px;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: white;
    border: 1px solid token(colorBrandPrimary);   
}
 
.THIS .orange{
    color:orange;
    font-size:17px;
}

.THIS .blue{
    color:blue;
    font-size:17px;
}
.THIS .black{
    color:grey;
    font-size:17px;
}

.THIS .green{
    color: #04844b;
    font-size:17px;
}