.THIS .slds-card__header {
    margin: auto !important;
    background-color: lightgray !important;
    padding: 1rem !important;
}

.THIS.slds-scope .slds-card{
    border: 1 !important; 
}
.THIS .HeadingStyle {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #2D2323
}