.THIS.filterStyle{
    width: 15%;
}
.THIS .filterStyle{
    background-color: #640032;
}
.THIS .absaColor{
    color: #640032;
}

.THIS .exampleHolder {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    }