.THIS {
}

.THIS .leftCheckBox{
    padding-top: 25px;
    padding-right: 250px;
}

.THIS .rightCheckBox{
    padding-top: 25px;
}

.THIS .clientStokvel{
    padding-top: 25px;
    padding-right: 470px;
}

.THIS .clientIsMunicipality{
    padding-top: 25px;
    padding-right: 20px;
}

.THIS .inputFields{
    padding-top: 24px;
    padding-right: 20px;
}

.THIS .inputFieldsWithChecBox{
    padding-top: 24px;
    padding-right: 20px;
}

.THIS .inputFieldsWithChecBoxEmail{
    padding-top: 24px;
    padding-right: 20px;
}