.THIS {
    
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: left;
    color: #514F4D;
    font-family: salesforce sans;
}

.THIS .totalsData {
    font-weight: 700;
}

.THIS td {
    padding: 4px 8px 4px 24px;
}

.THIS .clientNameCodeCols {
    vertical-align:top;
}

.THIS .currencyValue::before {
    content:"R";
}

.THIS .currencyValue {
    text-align: right;
}

.THIS .headerColumnR {
    text-align: right;
}