.THIS.slds-box {
    border: 1px solid rgb(221, 219, 218);
}

.THIS.RadioButtons .customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}


.THIS.custom-select-width {
    width: 70%;
}