.THIS .tableStyle {
     
}
.THIS .formStyle {
 
}
.THIS .abcd {
 width:250px !important;
}


.THIS inputVal { 
    text-align: right !important;
    height: 18px;
}

.THIS .headerTableRow {
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 17px !important;
    text-align: left !important;
    background-color: rgb(240,235,235) !important;
    margin:4px !important;
}
.THIS .marginclass{
    margin:7px !important;
    
}
.THIS .nameColumn {
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    text-align: left;
}

.THIS .valueColumn {
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    text-align: right;
}

.THIS .tdNameColumn {

    border-spacing:5px;
}

.THIS .totalName {
    text-align: right;
    font-weight: 400;
}

.THIS .totalValue {
    text-align: right;
    font-weight: 400;
}

.THIS .blankColumn {
    min-width: 200px;
    background-color:rgb(243,242,242);
}

.THIS .validateButton{
    color:white;
    background-color:rgb(100,0,50);
    float: right;
}