.THIS .left-align {
    text-align: left;
}
.THIS .right-align {
    text-align: right;
}

.THIS .customRequired{
    font-weight: 400; 
    } 

.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
    }

    .THIS .customRequired .slds-form-element__label{
        font-size: 14px;
       font-weight: bold; 
    }

    .THIS .boldText .slds-form-element__label{
        font-size: 14px;
       font-weight: bold; 
    }
    
    .THIS.slds-spinner_container {
      z-index: 10000;
      position: fixed;

    }