.THIS .accordioncss {
    --slds-c-accordion-summary-color-background: #f3f3f3;
    --slds-c-accordion-heading-line-height: 0.8;
    --slds-c-accordion-summary-radius: 25px;
    --slds-c-accordion-sizing-border: 0.5px;
    --slds-c-accordion-radius-border: 25px;

}