.THIS {
}

.THIS .headerTableRow {
    background-color: rgb(240,235,235);
}

.THIS .emptyRow {
    height: 20px;
}
.THIS .inputColumnR {
    text-align: left;
    height: 18px;
}
.THIS .textRight {
    text-align: right;
    height: 18px;
}