.THIS .header-class{
    padding-left:1px;
    padding-top:2px;
    padding-bottom:2px;
    font-weight:bold; 
    text-decoration:none;
    color:#942b49;
    font-size:15px;   
    margin-bottom: var(--lwc-spacingSmall,1rem);
    background-color: white;
           
}
.THIS .radio-btn{
   padding-top: 0px;
   padding-left:1px;
   margin-top: 14px;
            
   color:red;
}
.THIS span.slds-radio {
    padding-left: 0px;
}
.THIS .slds-select,
.THIS .slds-input{
    min-height: 23px;
    height: 23px;
    background-color:white;
    border-color:#080707;
}
.THIS .slds-select:disabled,
.THIS .slds-input:disabled{
    min-height: 23px;
    height: 23px;
    border-color: white;
}  
        

.THIS .slds-form-element {
   margin-top: -20px;
}       	
.THIS .apply-text-color {
   color: rgba(175, 20, 75, 1);
}
.THIS .lightgrey {
    background-color:#F5F5F5;
}
.THIS.disabled-text {
    background-color:yellow;
}        
.THIS .slds-table thead th {
    text-decoration:none;
    color: #942b49 !important;
    padding: .25rem .5rem;
    font-weight: 700;
    line-height: normal;
    background:red;
}

.THIS .slds-table--cell-buffer tr>td:first-child,
.THIS .slds-table--cell-buffer tr>th:first-child {
    padding-left: 0.75rem;
}