.THIS .x-accordion-heading .x-accordion-toggle.collapsed {
        background-color: green !important;
   }
.THIS .x-accordion-heading .x-accordion-toggle {
        background-color: green !important;
   }
.THIS .refreshbtn{
    float: right;
}