.THIS .mytoggle{
 
  float: right !important;
}
.THIS .count .slds-grid_align-end {
    
        justify-content: flex-start !important;        

}
.THIS .slds-checkbox .slds-checkbox_faux{
            display:none !important;

}
.THIS .slds-notify_toast{
    display:flex !important;
}