.THIS .x-accordion-heading .x-accordion-toggle.collapsed {
background-color: rgb(243, 242, 242)
}
.THIS .x-accordion-heading .x-accordion-toggle {
background-color: rgb(243, 242, 242)    
}
.THIS .slds-modal__content{
    overflow: initial;
}
.THIS .roleDiv{
    padding-top: 5px;
    padding-bottom: 13px;
}

.THIS .relatedParties{
    padding-right: 400px;
    padding-left: 15px;
    padding-bottom: 25px;
}

.THIS .slds-form-element.fileShares {
  margin-bottom:-5px;
}
.THIS .fileSharesItem {
  position:relative;
}
.THIS .removeShare {
  margin-left: 290px;
  border: 1px solid #ccc;
  padding:  0 8px;
  text-align: center;
  border-radius: 50%;
  font-size: 22px;
  background: #fff;
  box-shadow: 2px 2px 0 #e9e9e9;
} 
.THIS .removeShare:hover,
.THIS .removeShare:active,
.THIS .removeShare:focus {
  text-decoration:none;
  background:#ebebeb;
}

.THIS .mainUsers{
    padding-top: 25px
}

.THIS .box-align-left .slds-form-element__control{
    float: left;
    display: inline;
    top: 4px;   
}