/* for fixed width in rows */
.THIS .tdWidth{
    width:50%;
}
.THIS .td2Width{
    width:50%;
}

.THIS .tableStyle {
    min-width:100%;
}

.THIS input {
    text-align: right;
    height: 18px;
}

.THIS .outPutField {
    text-align: right;
    margin-right: 1.5em;
    height: 18px;
}

.THIS .headerTableRow {
    background-color: rgb(240,235,235);
}

.THIS .headerColumnR {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-align: right;
}

.THIS .headerColumnL {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-align: left;
}

.THIS .total {
    font-weight: bold;
}

.THIS .customRequired {
    font-weight: 400;
}

.THIS .customRequired:before {
    content: "*";
    color: rgb(194, 57, 52);
    left: -0.5rem;
    position: absolute;
    top: 3px;
    font-size: 18px;
}