.THIS {
    width: 50%
}
.THIS .leaveSpace {
    width:88%;
    display:inline-block;
}
.THIS  .nextbox{
    display:inline-block;

}
.THIS .leaveSomeSpace {
    width:68%;
    display:inline-block;
}
.THIS .body {
    font-family: 'Be Brave', sans-serif;
                                                
    font-size:13px;
}
.THIS .userName{
    width: 80%;
    display:inline-block;

}
.THIS .mainUsers{
    display:inline-block;
    
}