.THIS .slds-modal__container {
    width: 900px;
     max-width: 1200px;
    min-width: 20rem;
    
    
}
.THIS .textalign{
    font-weight: bold;
    font-size: 1.6em;
}
.THIS .generate{
    margin-left:200px;
}