.THIS {
}
.THIS .lableStyle {
    font-style: normal;
    font-weight: bolder;
    line-height: 28px;
}
.THIS .scriptStyle{
    font-style: normal;
    pointer-events: none;
    font-size: 14px;
    line-height: 20px;
    background: #e2dfdf;
    width: 600px !important
}
/* .THIS .custom-box{
    margin: 1%;
    padding: 1%;
} */

/* .THIS .edit-button{
    position: relative;
    z-index: 999;
    display: flex;
    left: 18rem;
    bottom: 1rem;
} */