.THIS .customRequired{
    font-weight: 400; } 

.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; } 

.THIS .none{
    content: ""; }

.THIS .select-auto-width > .slds-form-element__control > .slds-select_container{
    display: inline-block;
}

.THIS .table-ClientResult thead th span {
    font-weight: bold}

.THIS .customSectionButton{
   background-color: #E8E8E8;
   color: #000000; 
}

.THIS .customSubSectionButton{
   background-color: #F0F0F0;
   color: #000000; 
}

.THIS .hidden_field {
    display:none;
}
.THIS.greencolor{
    fill : #008000;
}
.THIS.left_indent
{
   padding-left:200px; 
}