.THIS .formElements{
    width:250% !important;
}

.THIS .formElements1{
    width:500% !important;
}
.THIS .buttonCls{
    margin-left: 95%;
}

/*
.THIS label.slds-form-element__label {
    display: none;
}
*/