.THIS .customRadioCls .slds-form-element__control .slds-radio{
display : inline-block !important;

}
.THIS.redOnYellow svg {
    fill : white;
}
.THIS.redOnYellow {
   background-color:#640032 !important;
    
    
}
 .THIS .redOnYellow {
    --sds-c-icon-color-foreground: white;
    --sds-c-icon-color-background: #640032;
}