.THIS {
}

.THIS .GeneralModalHeaders{
    margin-left: 15px;
    font-weight: bold;
}

.THIS .GeneralModalMargin{
    margin-bottom: 30px;
}
.THIS .leftCheckBox{
    padding-top: 25px;
    padding-right: 250px;
}
.THIS .slds-button_destructive{
    background-color: #ab1c56 !important;
}

.THIS .rightCheckBox{
    padding-top: 25px;
}

.THIS .clientStokvel{
    padding-top: 25px;
    padding-right: 470px;
}

.THIS .clientIsMunicipality{
    padding-top: 25px;
    padding-right: 20px;
}
.THIS .tableBckColor{
   background-color: var(--lwc-tableColorBackgroundHeader,rgb(250, 250, 249))!important;
}
.THIS .inputFields{
    padding-top: 24px;
    padding-right: 20px;
}
.THIS .trHeight{
    height: 54px !important;
}
.THIS .slds-text-heading_medium{
   font-weight: bold !important; 
   margin-left: 23px !important; 
   margin-top: 10px !important;         
}
.THIS .inputFieldsWithChecBox{
    padding-top: 24px;
    padding-right: 20px;
}

.THIS .inputFieldsWithChecBoxEmail{
    padding-top: 24px;
    padding-right: 20px;
}
.THIS .slds-select_container{
    width: 30% !important;
}
.THIS .myCheckbox{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.THIS .tableRight{
  width: 34% !important;
  margin-inline-start: auto !important;       
}
.THIS .fontSize{
  color: darkgray !important; 
  font-size: 12px !important; 
}
.THIS .c-container{
  margin-top: -23px !important;
  margin-left: -9px !important;
  margin-bottom: -5px !important;           
}
.THIS .resizeButton{
  margin-top: 24px !important;
  margin-left: 7px !important;
}
.THIS .slds-is-disabled{
  background-color: white !important;          
}
.THIS .customIcon div{
    vertical-align: top !important;
}
 
.THIS.customIcon div{
    vertical-align: top !important;
}

.THIS tr.row-head{
    background-color: #f2f2f2;
    font-weight: bold;
}