.THIS .table-container {
  height: 59vh;
}
.THIS div.slds-scrollable_y {
  height: 100% !important;
}
.THIS .table-ClientResult thead th span {
    font-weight: bold}
.THIS .hidden_field {
    display:none;
}
.THIS .my-icon {
    --sds-c-icon-color-foreground: white;
    --sds-c-icon-color-background: #640032;
}