.THIS {
}
.THIS .lableStyle {
    
    font-style: normal;
    font-weight: bolder;
    line-height: 28px;
}
.THIS .edit-button{
    position: relative;
    z-index: 999;
    display: flex;
    left: 18rem;
    bottom: 1rem;
}