.THIS {
}
.THIS .lableStyle {
    font-style: normal;
    font-weight: bolder;
    line-height: 28px;
    padding-left: 10px;
    text-align: center;
    border: 2px;
}
.THIS .slds-form-element__label {
    display: inline;
    vertical-align: middle;
    font-size: var(--lwc-fontSize3,0.8125rem);
    padding-left: 10px;
    border: 2px;
}
.THIS .slds-break {
    padding-left: 37px;

}