.THIS .pdfViewer-container{
    height: 820px !important;
}

.THIS.report-card{
    height: 920px !important;
}

.THIS.border-none {
    border: none !important;
    box-shadow: none !important;
}

.THIS.card-padding-left-none .slds-card__header,
.THIS.card-padding-left-none .slds-card__body {
    padding-left: 0px !important;
}