.THIS .widthTd {
    width: 40%;
}

.THIS .wrapData {
    display: inline-block;
    word-wrap: break-word;
}

.THIS .inputColumnR {
    width: 15%;
    text-align: right;
}

.THIS .inputColumnC {
    width: 15%;
    text-align: center;
}