.THIS .box-top {
    padding-top : 15px;
    padding-left :18px;
    padding-right:18px;
    border: 0px;
    background-color:rgb(243, 242, 242);
    border-top-right-radius : 8px;
    border-top-left-radius : 8px;
}
.THIS .box-middle {
    padding-left :18px;
    padding-right:18px;
    border: 0px;
    background-color:rgb(243, 242, 242);
}
.THIS .light-bold{
    font-weight: 700;
}
.THIS .strong-bold{
    font-weight: 900; 
    font-size:15px;
    color: black;
}
.THIS .box-bottom {
    padding-left :18px;
    padding-right:18px;
    border: 0px;
    background-color:rgb(243, 242, 242);
    border-bottom-right-radius : 8px;
    border-bottom-left-radius : 8px; 
} 
.THIS .box {
    padding-left :18px;
    padding-right:18px;
    border: 0px;
} 

.THIS .aol-status-cls:focus {
    background-color:red; 
}
.THIS .login-cls,
.THIS .aol-status-cls:hover {
    cursor: pointer;
    color: white; 
    font-weight: normal; 
    border-radius: 4px;
    border: 1px;
	padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;  
    text-align: center;
	background-color: var(--lwc-brandAccessible,rgb(0, 112, 210));            
}

.THIS .login-cls:disabled {
    background-color: #C8C8C8;         
}        
.THIS .aol-status-cls:hover span {
    display:none
}
.THIS .aol-status-cls:hover:before {
    content:"View debit info"
} 

.THIS div:focus {
    outline: none;
} 
.THIS .copy-to-clipboard-cls::selection {   
   color: white; 
   outline: none;
}
.THIS .copy-to-clipboard-cls{
  	border: 1px solid transparent;
    text-align: right;    
}
.THIS .copy-to-clipboard-cls:hover  {
    cursor: pointer;
    color: white; 
    font-weight: normal; 
    border-radius: 4px;
    border: 1px;
    padding: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
	background-color: var(--lwc-brandAccessible,rgb(0, 112, 210));            
}    
.THIS .copy-to-clipboard-cls:active {
    background-color: rgba(118, 0, 47, 1);	
    outline: none;                    
}  
.THIS .tooltip-idNum,               
.THIS .tooltip-accNum,
.THIS .tooltip-cccode,
.THIS .tooltip-comcard,
.THIS .tooltip-cellnum{
  position: relative;
  display: inline-block;
}
.THIS .tooltip-idNum .tooltiptext,                      
.THIS .tooltip-accNum .tooltiptext,
.THIS .tooltip-cccode .tooltiptext,
.THIS .tooltip-comcard .tooltiptext,
.THIS .tooltip-cellnum .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.THIS .tooltip-idNum .tooltiptext::after,  
.THIS .tooltip-accNum .tooltiptext::after,
.THIS .tooltip-cccode .tooltiptext::after,
.THIS .tooltip-comcard .tooltiptext::after,
.THIS .tooltip-cellnum .tooltiptext::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.THIS .tooltip-idNum[display-tooltip='true'] .tooltiptext, 
.THIS .tooltip-accNum[display-tooltip='true'] .tooltiptext,
.THIS .tooltip-cccode[display-tooltip='true'] .tooltiptext,
.THIS .tooltip-comcard[display-tooltip='true'] .tooltiptext,
.THIS .tooltip-cellnum[display-tooltip='true'] .tooltiptext{
  visibility: visible;
  opacity: 1;
}                
.THIS .button-brand:hover{
    
	border-radius: 4px;
    background: rgba(175, 20, 75, 1);
    border: 1px solid rgba(175, 20, 75, 1);    
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    background-color:orange; 
    font-weight:normal;
    float: right;
	padding-left: var(--lwc-spacingMedium,1rem);
    padding-right: var(--lwc-spacingMedium,1rem);    
	padding-top: 3px;
    padding-bottom: 3px;                 
	background-color: var(--lwc-brandAccessible,rgb(0, 112, 210));
    border-color: var(--lwc-brandAccessible,rgb(0, 112, 210));
    color: var(--lwc-colorTextBrandPrimary,rgb(255, 255, 255)); 
    font-size: var(--lwc-fontSize3,0.8125rem);                            
}
                        
.THIS .button-brand:active{
    background-color: rgba(118, 0, 47, 1);	
    box-shadow: var(--lwc-shadowButtonFocus,0 0 3px #0070D2);    
}                            
     

.THIS .greyout-cls{
    color: #A9A9A9;
}

.THIS .custom-box {
    text-align: left;
    padding: 1rem;
}

.THIS h1.header-class{
    font-weight:bold; 
    text-decoration:none;
    color:#942b49;
    font-size:15px;    
}

.THIS .text-output{   
    height:20px; 
    width:100%;    
}
.THIS .word-break{
    overflow-wrap: break-word;  
  line-height: 80%;      
}

.THIS .success-icon {
    border-radius: 50%;
    width: 20px;
    height: 15px;
    background: white;
    border: 1px solid rgb(2, 126, 70); 
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    color: rgb(2, 126, 70);
    font-size: 10px;
}

.THIS .error-icon {
  border-radius: 50%;
    width: 20px;
    height: 15px; 
    background: white;
    border: 1px solid rgb(194, 57, 52);
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    color: rgb(194, 57, 52);
    font-size: 10px; 
}

@media all and (min-width: 1024px) {
    .THIS .large-text-align {
        text-align: right;
    }
    .THIS .large-padding {
        padding-right : 24px; 
        padding-left: 24px;
        
    }
}
 
@media all and (max-width: 1023px) {
    .THIS .medium-border {
        border: 1px solid lightgrey;
    }
    .THIS .medium-text-align{
        text-align: left;                                              
	}	
}