.THIS .slds-modal__container {
        position: absolute;
        height: fit-content;
        margin: auto;
        padding: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }